.deleteXbtn {
    position: relative;
    float: right;
    margin-right: 10px;
    margin-left: 1000px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}