.taskList {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    margin-left: 18%;
    margin-right: 18%;
    background-color: lightgoldenrodyellow;
    padding: 4%;
}