header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

.logoutBtn {
    float: right;
    transform: translateY(-50px);
    box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
    padding: 1em;
    width: 140px;
    background-color: #f5ba13;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #f5ba13 50%, #e3ac12 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.logoutBtn:hover {
    background-color: #e3ac12;
    background-position: left;
}